@use "../../styles/mixins";
@use "../../styles/variables" as v;

.c-main-featured {
  display: flex;
  position: relative;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 300px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: v.$border_radius;
  background-color: v.$shade_20;
  //   border-radius: v.$border_radius;

  &__image-wrap {
    display: flex;
    bottom: 0;
    right: 0;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__image {
    object-fit: cover;
  }

  &__innerwrap {
    display: flex;
    // text-align: center;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    max-width: 70%;
    z-index: 1;
  }

  &__header {
    font-size: clamp(1.5rem, 6vw, 3rem);
    margin-bottom: 1rem;
  }

  &__button {
    background-color: v.$complement_20;
    text-transform: capitalize;
    font-weight: 700;
    color: v.$shade_20;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: v.$border_radius;
    padding: 0.75em 1em;
  }
}
