@use "../../styles/variables" as v;
@use "../../styles/skeleton-loader";

.c-category-list-wrapper {
  position: fixed;
  top: 60px;
  width: 100%;
  // width: calc(100% - clamp(8px, 3vw, 16px));
  z-index: 99;
  // margin-bottom: calc((2.5rem + 48px + 10px) * -1);
}

.c-category-list {
  display: flex;
  align-items: center;
  padding: 0 v.$fluid_padding;
  overflow-x: auto;
  background-color: v.$shade_200;
  width: 100%;
  // position: fixed;
  // top: 60px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.c-category {
  &__link {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 0.5rem;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    flex-shrink: 0;
    font-weight: 300;
    transition: border 300ms ease;

    &--active {
      border-bottom: 5px solid v.$complement_20;
      font-weight: 700;
    }
  }

  :global(.c-category__image-icon-wrap) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 48px;
    width: 100%;
    transform-origin: bottom center;
  }

  &__icon {
    width: 48px;
    height: 48px;
    color: v.$shade_20;
  }

  &__image {
    object-fit: contain;
  }

  &__name {
    color: v.$shade_20;

    &--active {
      font-weight: 500;
    }
  }
}
