@use "../../../styles/mixins";
@use "../../../styles/variables" as v;

.modal {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  background-color: rgba($color: v.$shade_200, $alpha: 0.5);
  padding: v.$fluid_padding;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  z-index: 999;

  &__overlay {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    // position: fixed;
    background-color: rgba($color: v.$shade_200, $alpha: 1);
    padding: v.$fluid_padding;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    z-index: 999;
  }

  &__wrap {
    border-radius: v.$border_radius;
    background-color: v.$shade_20;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 600px;
    padding: v.$fluid_padding;
  }

  &__header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    text-transform: capitalize;
  }

  &__close-button {
    background-color: v.$shade_20;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &-icon {
      color: v.$shade_200;
      width: 36px;
      height: 36px;
    }
  }

  &__buttons-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }

  &__button {
    border-radius: v.$border_radius;
    background-color: v.$red_20;
    font-weight: 700;
    color: v.$shade_20;
    padding: 0.75em 1.5em;
    text-transform: capitalize;
    cursor: pointer;

    &--text {
      color: v.$red_20;
      background-color: transparent;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__img-selector-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__img-selector-button {
    width: 120px;
    height: 120px;
    border: 2px dashed v.$shade_80;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &-icon {
      color: v.$shade_80;
      width: 48px;
      height: 48px;
    }
  }

  &__selected-img {
    object-fit: contain;
  }

  &__img-errors-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__label {
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: v.$shade_160;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    justify-content: space-between;
  }

  &__input,
  &__select {
    width: 100%;
    &:focus {
      box-shadow: 0 0 0 2px rgba($color: v.$complement_20, $alpha: 1);
      border: 1px solid transparent;
    }
  }

  &__select {
    background-color: v.$shade_20;
    color: v.$shade_200;

    &:required:invalid {
      color: v.$shade_120;
    }
  }

  &__option {
    color: v.$shade_200;

    &[value=""][disabled] {
      display: none;
    }
  }

  &__error-icon-wrap {
    margin-right: 0.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }

  &__error-icon {
    width: 16px;
    height: 16px;
  }

  &__error {
    display: inline;
    // align-items: center;
    color: v.$red_20;
    font-size: 0.75rem;
    vertical-align: middle;

    &--centered {
      text-align: center;
    }
  }

  &__buttons-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__table-wrap {
    overflow-x: auto;
    border-radius: v.$border_radius;
    border: 1px solid v.$shade_120;
    max-width: 100%;
  }

  &__color-indicator {
    width: 24px;
    height: 24px;
    border: 1px solid v.$shade_200;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &__button {
    border-radius: v.$border_radius;
    background-color: v.$shade_200;
    font-weight: 700;
    font-size: 0.875rem;
    color: v.$shade_20;
    padding: 0.5em 0.75em;
    margin: 0 0.75rem 0.75rem 0.75rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &-icon {
      width: 24px;
      height: 24px;
      margin-right: 0.25rem;
    }
  }

  &__table {
    // border-collapse: collapse;
    // border: 1px solid v.$shade_120;
    background-color: v.$shade_20;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  &__table-row-header {
    background-color: v.$shade_60;
  }

  &__th {
    font-size: 0.75rem;
    padding: 0.75rem;
    text-align: left;
    color: v.$shade_200;
  }

  &__td {
    padding: 0.75rem;
    text-align: left;
    min-width: 200px;
    // display: inline-block;
    // border: 1px solid v.$shade_120;
    // display: inline-block;
    width: 100%;

    &:last-child {
      min-width: 0;
    }

    &--flex-row {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  &__table-button {
    border-radius: v.$border_radius;
    color: v.$shade_20;
    // padding: 0.5em 0.5em;
    // margin: 0.25rem;
    width: 36px;
    height: 36px;
    background-color: v.$shade_200;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;

    &-icon {
      width: 24px;
      height: 24px;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &__submit-button {
    border-radius: v.$border_radius;
    background-color: v.$complement_20;
    font-weight: 700;
    color: v.$shade_20;
    padding: 0.75em 1.5em;
    text-transform: capitalize;
    // margin-top: 1.5rem;
    // width: 100%;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
    }
  }
}
