@use "./variables" as v;

.skeleton {
  &-card {
    min-height: 350px;
    border-radius: v.$border_radius;
    // background-color: v.$shade_20;
    width: 100%;
  }

  &-category {
    &__wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    // &-item {
    //     border;
    // }
  }
}
