@use "./mixins";
@use "./variables" as v;
@use "./skeleton-loader";

.catalog {
  margin-top: calc(2.5rem + 48px + 10px);
  background-color: v.$shade_40;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: v.$fluid_margin;
  min-height: 100vh;

  &--no-margin-top {
    margin-top: 0;
  }

  &__featured {
    width: 100%;
  }

  &__label-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // overflow-x: hidden;
    padding: v.$fluid_padding;
    width: 100%;

    &--margin-top {
      margin-top: v.$fluid_margin;
    }

    &::before {
      content: "";
      position: absolute;
      height: 50%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: transparent;
      border-bottom: 1px solid v.$shade_120;
      z-index: 0;
    }
  }

  &__search-label-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // overflow-x: hidden;
    padding: v.$fluid_padding;
    width: 100%;

    &--margin-top {
      margin-top: v.$fluid_margin;
    }
  }

  &__label {
    background-color: v.$shade_40;
    padding: 0 v.$fluid_padding;
    z-index: 1;
    font-size: clamp(1.25rem, 5vw, 2rem);
  }

  &__products {
    padding: 0 v.$fluid_padding;
    width: 100%;
    display: grid;
    gap: v.$fluid_margin;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  &__more-button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: v.$fluid_padding;
    margin-bottom: v.$fluid_margin;
    width: 100%;
  }

  &__more-button {
    border-radius: v.$border_radius;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 2px solid v.$complement_20;
    color: v.$complement_20;
    font-weight: 700;
    padding: 0.75em 2em;
    cursor: pointer;
  }
}

.featured {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: v.$fluid_margin;
  margin-top: v.$fluid_margin;
  padding: 0 v.$fluid_padding;

  &__main {
    grid-column: 1 / -1;

    @include mixins.tablet() {
      grid-column: 1 / 4;
      grid-row: 1 / span 2;
    }
  }

  &__other {
    &:nth-child(2) {
      grid-column: 1 / 3;
      // margin-left: v.$fluid_margin;

      @include mixins.tablet() {
        grid-column: 4 / -1;
        grid-row: 1;
        margin: 0;
      }
    }
    &:nth-child(3) {
      grid-column: 3 / -1;
      // margin-right: v.$fluid_margin;

      @include mixins.tablet() {
        grid-column: 4 / -1;
        grid-row: 2;
        margin: 0;
      }
    }
  }
}
