@use "./mixins";
@use "./variables" as v;

.form-container {
  background-image: url("../public/4850037.jpg");
  background-position: center;
  background-size: cover;
  //   background-attachment: fixed;
  background-repeat: no-repeat;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // grid-template-columns: repeat(12, 1fr);
    align-items: center;
    margin: 0 auto;
    padding: 2rem v.$fluid_margin;
    max-width: 1000px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: v.$shade_200;
  border-radius: v.$border_radius;
  grid-column: 1 / -1;
  width: 100%;
  //   box-shadow: v.$box_shadow-soft;
  max-width: 500px;

  &__name {
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 2.25rem;
    color: v.$shade_20;
  }

  &__field-wrap {
    display: flex;
    flex-direction: column;
    gap: v.$fluid_margin;

    @include mixins.mobile() {
      align-items: center;
      flex-direction: row;
    }
  }

  &__input-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;
  }

  &__label {
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: v.$shade_100;
    font-size: 0.875rem;
  }

  &__input,
  &__textarea {
    // transition: box-shadow 500ms ease;
    width: 100%;
    &:focus {
      //   box-shadow: 0 0 0 2px rgba($color: v.$complement_20, $alpha: 1);
      box-shadow: 0 0 0 2px rgba($color: v.$complement_20, $alpha: 1);
      border: 1px solid transparent;
    }
  }

  &__textarea {
    overflow-y: auto;
  }

  &__error-icon-wrap {
    margin-right: 0.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }

  &__error-icon {
    width: 16px;
    height: 16px;
  }

  &__error {
    display: inline-block;
    // align-items: center;
    background-color: v.$red_20;
    color: v.$shade_20;
    border-radius: v.$border_radius;
    padding: 0.25rem;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    vertical-align: middle;

    &--centered {
      text-align: center;
    }
  }

  &__lnk-btn-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
  }

  &__link-text {
    text-align: center;
    color: v.$shade_20;
    margin-bottom: 1.5rem;
  }

  &__link {
    color: v.$complement_20;
    font-weight: 700;
  }

  &__button {
    border-radius: v.$border_radius;
    background-color: v.$complement_20;
    font-weight: 700;
    color: v.$shade_20;
    padding: 0.75em 1.5em;
    text-transform: capitalize;
    width: 100%;
    cursor: pointer;
  }

  @include mixins.tablet() {
    grid-column: 7 / -1;
    grid-row: 1;
  }
}

.welcome {
  //   background-color: v.$shade_20;
  padding: 1rem;
  margin: v.$fluid_margin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  //   grid-column: 1 / -1;

  &__text {
    &--20 {
      font-size: 1.25rem;
    }

    &--light {
      font-weight: 300;
    }
  }

  &__header {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 700;
    letter-spacing: 0.15em;
    margin: 0.5rem 0;
    text-transform: uppercase;
  }
}

.bg-link {
  color: v.$shade_200;
  grid-column: 1 / -1;
  width: 100%;
  font-size: 0.875rem;
  margin-top: 2rem;
  text-decoration: underline;
  text-align: center;
}
